* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background: rgb(250, 247, 247);
}
.none {
  display: none;
}
.block {
  display: flex;
}
h1 {
  text-align: center;
  margin: 2rem 0;
}
.container {
  max-width: 30rem;
  margin: auto;
  background: rgba(128, 128, 128, 0.135);
  box-shadow: 5px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}
.input {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.input > input[type="text"] {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(168, 168, 168);
}

.crud-button {
  /* border: 1px solid grey; */
  background-color: grey;
  color: white;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}
button {
  padding: 0.6rem;
  font-weight: 600;
  color: grey;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
ul {
  padding: 0 1rem;
}
li {
  position: relative;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(200, 196, 196);
  padding-bottom: 0.6rem;
  word-wrap: break-word;
  display: flex;
}
li > span {
  width: 70% ;
  color: rgb(71, 71, 71);
}
li > button {
  position: absolute;
  top: 0;
  padding: 0;
  right: 0;
  font-size: 1rem;
}
li > input[type="checkbox"] {
  margin-right: 1rem;
}
.lists {
  margin: 2rem 0;
}
.div-line {
  position: relative;
  width: 100%;
}
.div-line::before {
  content: '';
  position: absolute;
  height: 1.5px;
  width: 0%;
  background: rgb(76, 125, 217);
  top: 0%;
  left: 0;
  transition: 0.4s;
}

input:focus + .div-line::before {
  width: 100%;
}

.instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(133, 133, 133);;
  font-size: 0.85rem;
  gap: 0.5rem;
}

@media (max-width: 476px) {
  .container, .instruction{
    margin: 0 0.5rem;
  }
  
}